<div class="footer">
  {{ if .Site.Data.social.links }}
  <div class="footer-social">
    {{ range .Site.Data.social.links }}
    <span class="social-icon social-icon-{{ .name | urlize }}">
      <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener">
        <img src="{{ .image | relURL }}" width="24" height="24" alt="{{ .name }}" />
      </a>
    </span>
    {{ end }}
  </div>
  <!-- Cloudflare Web Analytics -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "1e345ae105474f348b784b7d5c5d9e2d"}'></script>
  <!-- End Cloudflare Web Analytics -->
  {{ end }}
</div>